log/*
logs/*
test.ipynb
__pycache__/**
model/bge-reranker-base/
model/bge-small-zh-v1.5/
**/__pycache__
chonkie-main
**/test/**
test.*
!test.py
!test/*_test.*
images
.gitignore
markitdown.ipynb
omni_split/base/1c7fbb26-1012-4b03-894c-69ab2257985c_1743677710.4311144_content_list.json
omni_split/base/doc2md_list.json
omni_split/base/native_text_split_utils4content2.py
omni_split/base/output4-yyb-en2.json
omni_split/base/output4-yyb-en3.json
omni_split/base/output4-yyb-en4.json
omni_split/base/temp.json
dist
build
images
note_self.md
omni_split.egg-info
test_doc