log/*
logs/*
test.ipynb
__pycache__/**
model/bge-reranker-base/
model/bge-small-zh-v1.5/
**/__pycache__/**
chonkie-main
**/test/**
test.*
!test.py
!test/*_test.*
images/**.png
.gitignore
markitdown.ipynb
base/1c7fbb26-1012-4b03-894c-69ab2257985c_1743677710.4311144_content_list.json
base/doc2md_list.json
base/native_text_split_utils4content2.py
base/output4-yyb-en2.json
base/output4-yyb-en3.json
base/output4-yyb-en4.json
base/temp.json
